body{background-color: #E1E1E1;}
ul{list-style:none;}
li{list-style:none;display:inline;}
.lottery-content{position:absolute}
.lottery-person{display:none;}
.lottery-person img{box-shadow: 5px 5px 5px #888888;padding-top:2px;margin:5px; border-radius: 5px 5px 5px 5px;}
.lottery-img{
	height:100px;
	width:100px;
}
.lottery-animated_img {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
	margin:5px;
    height: 100px;
    transition-duration: 0.25s, 0.25s, 0.25s, 0.25s, 0.25s, 0.25s;
    transition-property: width, height, transform, background, font-size, opacity;
    width: 100px;
	z-index:1;
}
.lottery-animated_img_transform{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: matrix(0.75,0.75, 0.75 0.75, 0.75, 0.75);
	/*transform:perspective(1);*/
	z-index:1000;
	position:absolute;
	opacity:1;
	width:125px;
	height:125px;
	font-size:16px;
}